---
import type { CollectionEntry } from "astro:content";

import MainLayout from "@frontend/components/layouts/main-layout.astro";
import { getCollection, render } from "astro:content";

import { PostSingle } from "@frontend/features/blog/components/post-single";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<MainLayout title={post.data.title} description={post.data.description} image={post.data.heroImage}>
  <section class="container mx-auto py-6">
    <PostSingle id={post.id} title={post.data.title} image={post.data.heroImage}>
      <Content />
    </PostSingle>
  </section>
</MainLayout>
